@import "../../../defaults";

.hidden {
  display: none;
}

.readingListContainer {

  display: flex;
  flex-direction: column;

  .book {

    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    .title {
      font-weight: 600;
    }

    .by {

    }

    .author {
      font-style: italic;
    }
  }
  // display: none;
  background-color: white;
  border-radius: 3px;

  padding: 0;
  margin: 0;
}