@import "../../../../defaults";

.neofetchContainer {

  margin: 50px auto;

  padding: 15px;

  background: #0c1d3b;
  outline: 1px solid #112a55;
  -moz-outline-radius: 5px;
  width: 700px;

  color: white;

  display: grid;
  grid-template-areas:
          "image stats"
          "image resume"
          "image colors"
          "directory directory"
  ;
}