@import "../../defaults";

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

#education {
  background: $educationColor;

  padding: 50px 20px;

  .separator {
    max-width: 90%;
    margin: 30px auto;
  }
}