.stats {

  font-family: "Montserrat", sans-serif;

  .neofetchTitle {

    padding-top: 10px;

    .statDefault { color: white; }
    .statKey { color: #8fb1f3; }
    .statValue { color: #75ecea; }


  }

  .neofetchStat {

    .statDefault { color: white; }

    .statKey {
      color: #40f3c1;
      font-weight: 600;
    }

    .statValue { color: #f373b4; }
  }
}