.stats {

  grid-area: stats;
  font-family: "Montserrat", sans-serif;

  .neofetchTitle {

    padding-top: 10px;

    .user { color: #8fb1f3; }
    .machine { color: #75ecea; }
  }

  .neofetchStat {

    .key {
      color: #40f3c1;
      font-weight: 600;
    }

    .value { color: #f373b4; }
  }
}