
.footerContainer {

  background: #282828;

  div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  }

  .footnote {

    padding: 10px;

    p {
      margin: 10px auto;
      color: white;

      a, a:visited {
        color: lightgrey;
      }

      a:hover {
        color: grey;
      }

      a:active, a:focus {
        color: darkgrey;
      }
    }
  }
}