@import "../../../defaults";

#projects {
  background: #476b86;

  .projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
