@import "../../../defaults";

.project {
  width: 400px;

  height: max-content;


  margin: 40px auto;
  padding: 5px 5px 20px 5px;
  border-radius: 4px;

  background: $projectBGColor;

  color: #e0e0e0;


  &:hover {
    .imageContainer {
      margin-left: -100px;
      margin-bottom: -100px;
    }
  }
}