@import "../../../defaults";

.neofetchContainer {

  margin: 50px auto;

  padding: 15px;

  background: #0c1d3b;
  outline: 1px solid #112a55;
  -moz-outline-radius: 5px;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  flex-grow: 0;

  color: white;

  .imageContainer {

    img {
      max-width: 300px;
      height: auto;
    }

    width: max-content;
    box-shadow: 0 0 5px #081429;
  }

  .directoryContainer {

    grid-area: directory;

    margin-top: 10px;

    .directory {
      color: #a2fffc;
    }
  }


  .neofetchMainContent {

    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}