@import "../../../defaults.scss";

.project {

  max-width: 8000px;

  border-left: 2px solid white;
  border-top: 2px solid white;
  border-top-left-radius: 5px;
  padding: 10px;

  margin-bottom: 30px;

  font-family: "Montserrat", sans-serif;

  .title {
    font-size: 20pt;
    margin: 0 auto 5px 5px;
  }

  a {

    font-weight: 500;

    div {

      transition: 0.3s;

      padding: 4px;
      border-radius: 3px;

      display: inline-flex;

      img {
        height: 24px;
        margin: auto 5px;
        opacity: 0.8;
      }

      .link {
        margin: auto 0 auto 5px;
        font-size: 11pt;
        color: white;

        .githubProfileColor {
          color: #32ceff;
        }

        .projectTitleColor {
          color: #81ddff;
        }

      }
    }

    div:hover {
      color: #93d0ff;
      background: #373737;
      padding-left: 10px;

      img {
        opacity: 1;
      }
    }
  }

  .desc {
    margin: 5px;
    font-weight: 300;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;

    .tag {
      padding: 4px;
      font-size: 11pt;
      margin-right: 10px;
      border: 1px solid;
      border-radius: 4px;
    }


    .cpp { border-color : $cpp-color; }
    .python { border-color : $python-color; }
    .shell { border-color : $shell-color; }
    .git { border-color : $git-color; }
    .html { border-color : $html-color; }
    .css { border-color : $css-color; }
    .typescript { border-color : $typescript-color; }
    .react { border-color : $react-color; }
  }
}

.projectNew {

  max-width: 8000px;
  padding: 10px;

  border-radius: 1px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px #2e2e2e;

  margin-bottom: 30px;

  font-family: "Montserrat", sans-serif;

  .title {
    font-size: 20pt;
    font-weight: 500;
    margin: 0 auto 5px 5px;
  }

  a {

    font-weight: 500;

    div {

      transition: 0.3s;

      padding: 4px;
      border-radius: 3px;

      display: inline-flex;

      img {
        height: 24px;
        margin: auto 5px;
        transition: 0.3s;
      }

      .link {
        margin: auto 0 auto 5px;
        font-size: 11pt;
        color: black;

        .githubProfileColor {
          color: #0d323f;
        }

        .projectTitleColor {
          color: #17272f;
        }

      }
    }

    div:hover {

      p, .githubProfileColor, .projectTitleColor {
        color: #ffffff;
      }

      background: #919191;
      padding-left: 10px;

      img {
        filter: invert(100%);
      }
    }
  }

  .desc {
    margin: 5px;
    font-weight: 300;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;

    .tag {
      padding: 4px;
      font-size: 11pt;
      margin-right: 10px;

      border: 2px solid;
      border-radius: 4px;

    }


    .cpp { border-color : $cpp-color; }
    .python { border-color : $python-color; }
    .shell { border-color : $shell-color; }
    .git { border-color : $git-color; }
    .html { border-color : $html-color; }
    .css { border-color : $css-color; }
    .typescript { border-color : $typescript-color; }
    .react { border-color : $react-color; }
  }
}
