.info {

  font-family: "Montserrat", sans-serif;

  .neofetchTitle {

    padding-top: 10px;

    .user { color: #8fb1f3; }
    .machine { color: #75ecea; }
  }

  .neofetchStat {

    .key {
      color: #40f3c1;
      font-weight: 600;
    }

    .value { color: #f373b4; }
  }
}

.resumeLinksContainer {

  margin-top: 30px;
  grid-area: resume;

  display: flex;
  flex-direction: row;

  .resumeKey {
    color: #00b7b7;
    font-weight: 600;
  }

  .resumeLink {

    display: flex;
    flex-direction: column;

    p {color: unset;}

    div {
      display: flex;
      flex-direction: row;
    }

    &:hover img {opacity: 1.0;}

    a {
      color: lightblue;
      transition: 0.1s;
    }

    a:hover {color: #90b5c2;}
    a:active {color: #66808a;}
    a:visited {color: #7fa0ac;}

    img {
      max-width: 30px;
      margin: 5px auto 0 auto;
      opacity: 0;
      transition: 0.3s;
      display: block;
    }
  }
}