@import "../../defaults";

.sectionTitle {

  margin: 20px auto;

  font-family: "Montserrat", "Open Sans", monospace;
  font-weight: 600;
  font-size: 20pt;

  text-align: center;
  text-transform: capitalize;
}