@import "../../../defaults";

.projectBlurbContainer {
  max-width: 500px;
  margin: 0 auto 30px auto;

  padding: 10px;
  background-color: white;
  border-radius: 3px;

  font-weight: 300;
  transition: 0.3s;
}



a, a:visited {
  color: black;
  font-weight: 400;
}

a:hover, a:active {

}

a em, em, em a {
  font-style: normal;
  font-weight: 600;
}
