@import "../../defaults";

.tagsContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;

  .tag {
    outline: 1px solid;
    -moz-outline-radius: 4px;

    padding: 3px;
    margin: 0 5px;
  }

  .html {
    outline-color: $htmlColor;
  }

  .css {
    outline-color: $cssColor;
  }
}