@import "../defaults.scss";

.headerContainer {

  margin: 0;
  padding: 0;

  height: 50px;

  display: flex;
  flex-direction: row;
  vertical-align: middle;

  font-family: "Montserrat", monospace;

  overflow: auto;

  .titleContainer {
    margin: auto 5px auto 0;
    padding: 0;
    height: auto;
    font-size: 24pt;

    p {
      margin: auto 0;
      padding: 0;
    }
  }

  .linksContainer {
    margin: auto 5px auto auto;
    padding-top: 5px;

    display: flex;
    flex-flow: row;
  }
}