@import "../../defaults.scss";

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.programContainer {

  margin: auto;

  display: grid;
  max-width: 1300px;

  grid-auto-columns: 70px 1.1fr 1fr 130px;
  grid-template-rows: auto max-content max-content;

  grid-row-gap: 25px;
  grid-column-gap: 40px;
  overflow: hidden;

  grid-template-areas:
          ". hr hr hr"
          "programLogo headerInfo headerInfo timeframeInfo"
          ". courseInfo detailInfo detailInfo";

  @media screen and (max-width: 1000px) {

    width: 900px;
    overflow: hidden;

    grid-template-areas:
            "hr hr hr hr"
            "programLogo headerInfo headerInfo timeframeInfo"
            "courseInfo courseInfo detailInfo detailInfo"
  }


  hr {
    width: 100%;
    max-width: 100%;
    margin: 20px 5px;

    color: #cbcbcb;
    grid-area: hr;
  }


  p {
    margin: 0;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 15px;

    ul {
      margin: 0;
    }

    div {
      margin: 0;
    }
  }

  .programLogo {
    grid-area: programLogo;

    filter: opacity(85%);
    transition: 0.2s;

    &:hover {
      filter: opacity(100%);
    }

    a {
      outline: none;
    }

    img {
      max-width: 75px;
      border-radius: 50%;
    }
  }

  .headerInfo {
    grid-area: headerInfo;

    padding-left: 10px;

    font-size: 14pt;

    p {
      margin: 0;
      font-family: "Nunito", "Open Sans", monospace;
      font-weight: 600;
    }
  }

  .timeframeInfo {
    grid-area: timeframeInfo;

    .timeframe {
      font-size: 14pt;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
    }

    .location {
      font-family: "Montserrat", sans-serif;
      font-style: italic;
    }

    p {
      margin: 0 0 3px 0;
      float: right;
    }
  }

  .courseInfo {
    grid-area: courseInfo;

    font-family: "Montserrat", "Open Sans", monospace;

    display: flex;
    flex-direction: column;

    .classSetContainer {

      .classSetTitle {

        font-size: 14pt;
        font-weight: 500;
      }

      .complete {}

      .current {
        color: #444444;

        p {
          &:after {
            color: #2a2a2a;
            content: " - in session!";
          }
        }
      }

      .planned {
        color: #7a7a7a;
        p {
          &:after {
            content: " - planned!";
          }
        }
      }

      ul {
        li {
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .detailInfo {
    grid-area: detailInfo;

    font-family: "Montserrat", "Open Sans", monospace;

    max-width: 600px;

    display: flex;
    flex-direction: column;

    .detailTitle {

      font-size: 14pt;
      font-weight: 500;
    }
  }
}