.undergrad {
  grid-auto-columns: 75px auto auto;
  grid-auto-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "logo header timeframe" ". classesTitle classesTitle" ". classes classes" ". achievementsTitle achievementsTitle" ". achievements achievements" ". groupsTitle groupsTitle" ". groups groups";
}

.programContainer {
  display: grid;
  margin: 0 auto;
  max-width: 1100px;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}
.programContainer p, .programContainer ul, .programContainer li {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
.programContainer .container {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 5px;
  padding: 10px 10px 0 10px;
  margin-right: 50px;
}
.programContainer .subTitle {
  font-size: 15pt;
  margin-top: 10px;
  font-weight: 500;
}
.programContainer a {
  grid-area: logo;
}
.programContainer a img {
  max-height: 72px;
  border-radius: 50%;
}
.programContainer .headerInfo {
  grid-area: header;
  margin: auto 0 auto 10px;
  font-size: 14pt;
  font-weight: 500;
}
.programContainer .headerInfo p {
  font-family: Montserrat, sans-serif;
}
.programContainer .timeframeInfo {
  grid-area: timeframe;
  text-align: right;
  margin: 10px 0 0 auto;
}
.programContainer .timeframeInfo .timeframe {
  font-size: 12pt;
}
.programContainer .timeframeInfo .location {
  font-weight: 300;
  font-style: italic;
}
.programContainer .classesTitle {
  grid-area: classesTitle;
}
.programContainer .cs {
  grid-area: cs;
}
.programContainer .phil {
  grid-area: phil;
}
.programContainer .classes {
  grid-area: classes;
  display: flex;
}
.programContainer .classes .classSetContainer p {
  font-size: 13pt;
}
.programContainer .classes .classSetContainer hr {
  width: 80%;
  margin: 10px auto 10px 3px;
}
.programContainer .classes .classSetContainer ul {
  list-style-position: inside;
  list-style-type: circle;
  margin-top: 5px;
}
.programContainer .classes .classSetContainer ul li {
  margin-left: 5px;
  font-size: 10pt;
  font-weight: 300;
}
.programContainer .achievementsTitle {
  grid-area: achievementsTitle;
}
.programContainer .achievements {
  grid-area: achievements;
}
.programContainer .achievements .entry {
  display: grid;
  grid-template-areas: "title time" "desc .";
}
.programContainer .achievements .entry .title {
  grid-area: title;
  font-size: 16pt;
}
.programContainer .achievements .entry .time {
  grid-area: time;
  font-style: italic;
  margin: auto 0 auto auto;
}
.programContainer .achievements .entry .desc {
  grid-area: desc;
  font-size: 12pt;
  margin-top: 5px;
  font-weight: 300;
}
.programContainer .groupsTitle {
  grid-area: groupsTitle;
}
.programContainer .groups {
  grid-area: groups;
}
.programContainer .groups .group .title {
  font-size: 16pt;
  margin-bottom: 5px;
}
.programContainer .groups .group div {
  margin-bottom: 2px;
  display: grid;
  grid-template-areas: "role membership" "list .";
}
.programContainer .groups .group div .role {
  grid-area: role;
  font-size: 12pt;
}
.programContainer .groups .group div .membership {
  grid-area: membership;
  margin: auto 0 auto auto;
  font-style: italic;
}
.programContainer .groups .group div ul {
  grid-area: list;
  list-style-position: inside;
  list-style-type: circle;
  margin-top: 5px;
  font-size: 12pt;
  font-weight: 300;
}
.programContainer .groups .group div ul li {
  margin-left: 5px;
  font-size: 11pt;
  font-weight: 300;
}
@media screen and (max-width: 900px) {
  .programContainer {
    grid-auto-columns: auto 1fr auto;
    grid-auto-rows: auto auto auto auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-areas: "logo header timeframe" "classesTitle classesTitle classesTitle" "classes classes classes" "achievementsTitle achievementsTitle achievementsTitle" "achievements achievements achievements" "groupsTitle groupsTitle groupsTitle" "groups groups groups";
  }
  .programContainer img {
    max-width: 50px;
  }
  .programContainer .headerInfo {
    font-size: 11pt;
  }
  .programContainer .timeframeInfo {
    font-size: 11pt;
  }
  .programContainer .container {
    width: auto;
    max-width: 100%;
    margin-right: 0;
  }
  .programContainer .achievements .entry {
    grid-template-areas: "title time" "desc desc";
    width: 100%;
  }
  .programContainer .group div {
    grid-template-areas: "role membership" "list list";
  }
  .programContainer .classes {
    flex-direction: column;
  }
}

.certificate {
  grid-auto-columns: 75px 3fr 2fr auto;
  grid-auto-rows: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas: "logo header header timeframe" ". phil desc .";
}
@media screen and (max-width: 800px) {
  .certificate {
    grid-auto-columns: 40px auto auto;
    grid-auto-rows: auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-areas: "logo header timeframe" "phil phil phil" "desc desc desc";
  }
}
.certificate hr {
  max-width: 80%;
  margin: 5px auto 5px 0;
}
.certificate ul {
  margin-top: 5px;
}
.certificate ul li {
  font-weight: 300;
}
.certificate li {
  margin-left: 5px;
  font-size: 11pt;
  list-style-type: circle;
  list-style-position: inside;
  font-weight: 300;
}
.certificate a {
  grid-area: logo;
}
.certificate .headerInfo {
  grid-area: header;
}
.certificate .timeframeInfo {
  grid-area: timeframe;
}
.certificate .phil {
  grid-area: phil;
}
.certificate .desc {
  grid-area: desc;
}

/*# sourceMappingURL=index.css.map */
